.full-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.with-fixed-header {
  margin-top: 75px;
}

.container {
  max-width: 920px;
}

.vertical-center {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}

.navbar-inverse li,
.navbar-inverse.navbar li a,
.navbar-inverse.navbar a.navbar-brand {
  color: white;
}

.navbar-user {
  padding: 0 !important;
}

.navbar-user-avatar {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.navbar-user-name a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-user-voucher {
  padding: 15px 10px;
}

.table form {
  display: inline
}