.full-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.with-fixed-header {
  margin-top: 75px;
}

.container {
  max-width: 920px;
}

.vertical-center {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}

.navbar-inverse li,
.navbar-inverse.navbar li a,
.navbar-inverse.navbar a.navbar-brand {
  color: white;
}

.navbar-user {
  padding: 0 !important;
}

.navbar-user-avatar {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.navbar-user-name a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-user-voucher {
  padding: 15px 10px;
}

.placeholder-main-btn {
  margin-top: 20px;
}

.news-heading {
  margin-top: 5px;
}

.news-item {
  line-height: 50px;
  border-bottom: 1px solid #ddd;
}

.news-item:last-child {
  border-bottom: 0 none;
}

.news-item-user-avatar {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0;
}

.news-item-timestamp {
  color: #999;
}

.exp-header {
  margin-bottom: 20px;
}

.exp-header h1 {
  margin-top: 0;
}

.exp-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.exp-details {
  font-size: 0.8em;
  color: #999;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.exp:hover {
  text-decoration: none;
}

a.exp:hover .exp-name {
  text-decoration: underline;
}

.exp-details-item {
  margin-right: 10px; 
}

.exp-details-item .glyphicon {
  margin-right: 5px;
}

.build-number {
  font-weight: bold;
}

.build-commit {
  margin-right: 30px;
  display: block;
}

.list-group-item > .radio {
  margin: 0;
}

.build-lock {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

/* mixin action-info */

.action-info-user-avatar {
  width: 24px;
  margin-right: 5px
}

.action-info-timestamp {
  color: #999;
  line-height: 30px;
}