extends layout

block content
  .container.with-fixed-header
    .row
      .col-sm-8
        h3.timeline-heading What's new
      .col-sm-4
        .panel.panel-default
          .panel-heading
            if exps && exps.length
              a.btn.btn-default.btn-sm.btn-primary.pull-right.exp-new-btn(href='/new-exp')
                span.glyphicon.glyphicon-plus 
                span &nbsp;New

            h3.panel-title Your experiments
            
          if exps && exps.length
            .list-group
              each exp in exps
                a.exp(href='/exp/' + exp.id)
                  .list-group-item
                    .exp-name= exp.title
                    .exp-details
                      span.exp-details-item
                        span.glyphicon.glyphicon-book
                        = exp.owner + '/' + exp.repo

                      span.exp-details-item
                        span.glyphicon.glyphicon-bookmark
                        = exp.branch
          else
            .panel-body
              p You haven't created any experiments yet. Launch your first today.
              a.btn.btn-default.btn-block.btn-primary(href='/new-exp')
                span.glyphicon.glyphicon-plus 
                span &nbsp;New



        