extends _layout

block content
  .panel-body
    p.lead Gossamer makes it easy to rapidly test experimental web browser features.
    ul
      li Deploy experimental features to users.
      li Receive real-time metrics on usage and errors.
      li Show your verification status in <a href="http://mozillians.org">mozillians.org</a> to build trust.
    p Ready to get started?
    a.btn.btn-lg.btn-default.btn-primary.btn-block.placeholder-main-btn(
      href='/user/oauth'
    ) Log in with GitHub
