extends layout

block content
  .full-page
    .vertical-center
      .vertical-center-inner
        .container
          .row
            .col-sm-6.col-sm-offset-3
              .panel.panel-default
                .panel-body
                  a.btn.btn-default.btn-lg.btn-primary.btn-block(
                    href=url
                  ).
                    Login with Github