extends layout

block content
  .full-page
    .vertical-center
      .vertical-center-inner
        .container
          .row
            .col-sm-6.col-sm-offset-3
              .panel.panel-default
                .panel-heading
                  h3.panel-title New Experiment
                .panel-body
                  form(method='post', action='/exp')
                    if errors
                      .alert.alert-danger(role='alert')
                        p
                          strong A few issues before we can get going...
                        each error in errors
                          p= error.msg
                    .form-group
                      label(for='urlField') GitHub URL
                      input.form-control(type='text', name='urlField', value=urlField)
                      p.help-block.
                        For example, <code>https://github.com/hellojwilde/gossamer</code> 
                        or <code>https://github.com/hellojwilde/gossamer/tree/australis</code>
                        for a branch.
                    .form-group
                      label(for='descField') Description
                      input.form-control(type='text', name='descField', value=descField)
                    button.btn.btn-default.btn-primary.btn-block.btn-lg(type='submit').
                      Create New Experiment