.full-page {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

.with-fixed-header {
  margin-top: 75px;
}

.container {
  max-width: 920px;
}

.vertical-center {
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-center-inner {
  display: table-cell;
  vertical-align: middle;
}

.navbar-user-avatar {
  width: 30px;
  height: 30px;
  margin: 10px 0;
}

.navbar-user-name a {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.navbar-user-voucher {
  margin-left: 0 !important;
}

.placeholder-main-btn {
  margin-top: 20px;
}

.news-heading {
  margin-top: 5px;
}

.news-item {
  line-height: 50px;
  border-bottom: 1px solid #eee;
}

.news-item:last-child {
  border-bottom: 0 none;
}

.news-item-user-avatar {
  width: 30px;
  height: 30px;
  margin: 10px 10px 10px 0;
}

.news-item-timestamp {
  color: #999;
}

.exp-new-btn {
  margin-top: -6px;
}

.exp-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.exp-details {
  font-size: 0.8em;
  color: #999;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

a.exp:hover {
  text-decoration: none;
}

a.exp:hover .exp-name {
  text-decoration: underline;
}

.exp-details-item {
  margin-right: 10px; 
}

.exp-details-item .glyphicon {
  margin-right: 5px;
}