include _mixins
extends _layout

block content
  .container.with-fixed-header
    .row
      .col-sm-6.col-sm-offset-3
        .panel.panel-default
          .panel-heading
            h3.panel-title Your experiments

          .panel-body
              if !exps || !exps.length
                p You haven't created any experiments yet. Launch your first today.
              a.btn.btn-default.btn-block.btn-primary.btn-sm(href='/exp/new').
                New Experiment
            
          if exps && exps.length
            ul.list-group
              each exp in exps
                li.list-group-item
                  a.exp(href='/exp/' + exp.id)
                    +exp-info(exp)
                  





        