extends _layout

block new-exp-content
  form(method='get', action='/exp/new')
    .form-group
      label(for='repo') Repository
      for repo in repos
        .radio
          label
            input(type='radio', name='repo', value=repo.name)
            = repo.name

    .form-group  
      input.btn.btn-default.btn-primary.pull-right(
        type='submit', 
        value='Next'
      )